{% extends "base.html" %}

{% block title %}Cook{% endblock %}

{% block content %}
<h1>Cook List View <a class="btn btn-success" href="{% url 'kitchen:cook-create' %}">Create</a></h1>
<form class="d-flex">
  {{ search_form }}
  <input class="btn btn-secondary" type="submit" value="Search">
</form>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Cook</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    {% for cook in cook_list %}
      <tr>
        <td>{{ cook.id }}</td>
        <td>{{ cook.username }}</td>
        <td><a class="btn btn-primary" href="{% url 'kitchen:cook-detail' cook.id %}">Details</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
